.app{
  height: 100vh;
  background-image: url("./background.jpg");
  padding-top: 50px;
}
.allCardsPage {
  min-height: 100vh;
  background-image: url("./background.jpg");
  padding-top: 50px;
  background-repeat: repeat;
  background-size: contain;
}
.nav {
  background-color: #38de00;
  color: rgb(5, 50, 4);
  text-align: center;
  padding: 20px 0px;
  font-weight: 600;
  font-size: 40px;
  border: solid rgba(0, 76, 10, 0.76) 2px;
  display: flex;
}

.sliderLink, .allCardLink {
  font-size: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  flex: 5
}

.box {
  max-width: 650px;
  height: 500px;
  margin: 0px auto auto;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  border: 10px #019328 solid;
  box-shadow: 0 0 10px 5px black;
}

.pokemonInfo {
  border: solid rgb(42, 206, 83) 1px;
  display: grid;
  grid-template-rows: 20px 2fr 1fr;
  min-width: 500px;
  
}

.button {
  background-color: rgb(50, 219, 70);
  border: none;
  font-size: 25px;
}
.button:hover {
  background-color: rgb(52, 242, 74);
}
.button:active {
  background-color: rgb(113, 252, 129);
}

img {
  margin: auto auto;
  height: 300px;
}
.pokemonAnimation {
  animation: pokemonFadeIn 1s
}
.image {
  display: flex;
  justify-content: center;
}

.pokemonDescription {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  background-color: #92fa99;
  color: rgb(0, 49, 2);
  box-shadow: 0 0 2px 0px;
}

#image {
  background-color: rgb(199, 255, 190);
}

.info {
  font-size: 14px;
  margin: auto 10px
}

#attr {
  font-weight: 700;
  color: rgb(1, 53, 1);
}

input {
  width: 45px;
}

.search {
  display: flex;
  flex-direction: row;
}

@keyframes pokemonFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
    
  }
  30% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    
  }
}

.searchInput {
  width: 500px;
  height: 60px;
  font-size: 30px;
}
.searchInputDiv {
  display: flex;
  justify-content: center;
}

.pokemonCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}