.app{
  height: 200vh;
  background-image: url("./background.jpg");
  padding-top: 50px;
}
.allCardsPage {
  min-height: 100vh;
  background-image: url("./background.jpg");
  padding-top: 50px;
  background-repeat: repeat;
  padding-bottom: 600px;
}
.nav {
  background-color: #38de00;
  color: rgb(5, 50, 4);
  text-align: center;
  padding: 20px 0px;
  font-weight: 600;
  font-size: 40px;
  border: solid rgba(0, 76, 10, 0.76) 2px;
  display: flex;
}

.sliderLink, .allCardLink {
  font-size: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  flex: 5
}

.box {
  max-width: 650px;
  /* height: 500px; */
  margin: 0px auto auto;
  display: flex;
  border: 10px #019328 solid;
  box-shadow: 0 0 10px 5px black;
}

.pokemonInfo {
  border: solid rgb(42, 206, 83) 1px;
  display: grid;
  grid-template-rows: 20px 2fr 1fr;
  min-width: 280px;
  flex-grow: 1;
}

.button {
  background-color: rgb(50, 219, 70);
  border: none;
  font-size: 25px;
}
.button:hover {
  background-color: rgb(52, 242, 74);
}
.button:active {
  background-color: rgb(113, 252, 129);
}

img {
  margin: auto auto;
  height: 250px;
}
.pokemonAnimation {
  animation: pokemonFadeIn 1s
}
.image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pokemonDescription {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  background-color: #92fa99;
  color: rgb(0, 49, 2);
  box-shadow: 0 0 2px 0px;
}

#image {
  background-color: rgb(199, 255, 190);
}

.info {
  font-size: 14px;
  margin: auto 10px
}

#attr {
  font-weight: 700;
  color: rgb(1, 53, 1);
}

input {
  width: 45px;
}

.search {
  display: flex;
  flex-direction: row;
}

@keyframes pokemonFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
    
  }
  30% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    
  }
}

/* change default input text color to white */
.searchInput {
  color: white;
  width: 500px;
  height: 60px;
  font-size: 30px;
  border-radius: 20px;
  background-color: #38de00;
  border: 2px solid rgb(0, 76, 10);
  box-shadow: 0 0 5px 5px rgb(0, 76, 10);
  padding: 0 20px;
  outline: none;
  font-weight: 600;
  text-align: center;
  margin: 0 10px; 
}

.searchInput::placeholder {
  color: green;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.searchInputDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pokemonCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.PokemonCardBG {
  background-color: rgba(62, 255, 91, 0.815);
  border-radius: 10px;
  margin: 15px;
  border: 5px solid rgba(0, 0, 0, 0.737);
  box-shadow: 0 0 5px 5px rgb(0, 0, 0);
}

.pokemonstat {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 800;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.pokemonTypes {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}

.element {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  margin: 0 5px;
  /* box-shadow: 0 0 2px 0.5px #2b2b2b;
  border: 0.5px solid rgb(49, 49, 49); */
}

/* add box shadow that is same color as background color but a little big lighter */
#bug {
  background-color: #9bbb48;
  box-shadow: 0 0 3px 0.5px #9abb48e0;
}

#grass {
  background-color: #78bb64;
  box-shadow: 0 0 3px 0.5px #78bb64e0;
}

#dark {
  background-color: #595761;
  box-shadow: 0 0 3px 0.5px #595761e0;

}

#dragon {
  background-color: #2f68c1;
  box-shadow: 0 0 3px 0.5px #2f68c1e0;
}

#electric {
  background-color: #eeda67;
  box-shadow: 0 0 3px 0.5px #eeda67e0;
}

#fairy {
  background-color: #e295e1;
  box-shadow: 0 0 3px 0.5px #e295e1e0;
}

#fighting {
  background-color: #d56723;
  box-shadow: 0 0 3px 0.5px #d56723e0;
}

#fire {
  background-color: #ff9c54;
  box-shadow: 0 0 3px 0.5px #ff9c54e0;
}

#flying {
  background-color: #748fc9;
  box-shadow: 0 0 3px 0.5px #748fc9e0;
}

#ghost {
  background-color: #556aae;
  box-shadow: 0 0 3px 0.5px #556aaee0;
}

#ground {
  background-color: #ddc075;
  box-shadow: 0 0 3px 0.5px #ddc075e0;
}

#ice {
  background-color: #61cec0;
  box-shadow: 0 0 3px 0.5px #61cec0e0;
}

#normal {
  background-color: #9da0aa;
  box-shadow: 0 0 3px 0.5px #9da0aae0;
}

#poison {
  background-color: #a95ca0;
  box-shadow: 0 0 3px 0.5px #a95ca0e0;
}

#psychic {
  background-color: #ea5d8c;
  box-shadow: 0 0 3px 0.5px #ea5d8ce0;
}

#rock {
  background-color: #baab82;
  box-shadow: 0 0 3px 0.5px #baab82e0;
}

#steel {
  background-color: #5a8ea1;
  box-shadow: 0 0 3px 0.5px #5a8ea1e0;
}

#water {
  background-color: #559edf;
  box-shadow: 0 0 3px 0.5px #559edfe0;
}

@media screen and (max-width: 500px) {
  .pokemonInfo {
  }
  .button {
    display: none;
  }
  .box {
    margin: 0px 10px
  }

  .info {
    font-size: 10px;
  }

  #morePokemonCards {
    height: 150px;
  }

  .searchInput {
    width: 320px;
    height: 40px;
    
  }
}